@{
    ViewData["Title"] = "Index";
}

<img src="Imagenes/Inicio.jpg" alt="Imagen Inicio">

@if (ViewBag.Usuario != null)
{
     <h3>Bienvenido @ViewBag.Usuario.Nombre</h3>  
     <a href="Logueado.cshtml">Datos Personales</a>
    <a href='@Url.Action("CerrarSesion", "Home")'>LogOut</a>
}

else 
{
   <form action='@Url.Action("InicioSesion", "Home")' method ="post">
        Email: <input type="text" name = "Email">
        Contraseña: <input type ="password" name="Contraseña">
        <input type="submit" value="Enviar" />
    </form>    
}







