
<h1>Datos Personales</h1>

<div class="PresentacionDatos">
    <img src="" alt="">
    <a href="MostrarDatosInteres.cshtml">Datos de Interes</a>
</div>

<div class="PresentacionDatos">
    <img src="" alt="">
    <a href="MostrarDatosFamiliares.cshtml" >Datos Familiares</a>
</div>
